body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,18,1) 35%, rgba(0,176,255,0.9747607661228554) 100%);
    font-family: sans-serif;
    color: white;
}
main{
    width: 730px;
    margin: 30px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
        background-color: rgb(255,255,255,0.2);
        padding: 0 10px 10px 10px;
        border-radius: 8px;
}
.section2{
        background-color: rgb(255,255,255,0.2);
        width: 250px;
        height: 400px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0px 20px;
}
h1{
    text-align: center;
}
button{
    height: 65px;
    width: 64px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
